[submodule "src/includes/TableLayout"]
	path = src/includes/TableLayout
	url = https://github.com/blupo/TableLayout
[submodule "src/includes/RobloxAPI"]
	path = src/includes/RobloxAPI
	url = https://github.com/blupo/RobloxAPI
